@import url('https://fonts.cdnfonts.com/css/frostbites');

*{
  font-family: Tahoma;
}

.App{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#left, #right{
width: 100%;
height: 100vh;
}

#left{
  display:flex;
  justify-content: center;
  align-items: center;
}

.img-container{
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 95%;
  border: none;
  border-radius: 2%;
}


h1, #dscrp{
  text-align: center;
}

.pw{
  margin-left: auto;
  font-size: 13px;
  margin-top: -5px !important;
  margin-bottom: 20px;
  padding-right: 61px;
  text-decoration: none;
}


.sign-in{
  display: block;
  width: 300px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.input-container {
  position: relative;
  width: 80%;
}

.input-container i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-100%);
  color: #aaa;
  font-size: 16px;
}

.input-container input {
  width: 100%;
  padding-left: 30px;
  height: 40px;
  margin-bottom: 15px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.input-container input:active,
.input-container input:focus,
.input-container input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.submit, .register{
  width: 380px;
  padding: 10px;
  margin-top: 15px;
  background-color: #ccc;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: not-allowed;
  font-size: 16px;

}

.idk{
  height: 24px;
  width: 100%;
  color: red;
  font-size: 13px;
  margin-top: -7px;
  
}
/*
.submit:hover, .register:hover{
  cursor: pointer;
  background-color: #6A679E; 
  box-shadow: 4px 4px 15px #666;
}
*/

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#small-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#socials{
  display: flex;
  flex-direction: row;
  gap: 25px;
  list-style-type: none;
}

.facebook, .gmail, .icloud{
border: none;
background-color: transparent;
transition: background-color 0.3s, transform 0.3s;
}

.facebook:hover, .gmail:hover, .icloud:hover{
  transform: scale(1.2);
cursor: pointer;
}

.button svg{
  width: 30px;
  height: 30px;
}

#error-login{
  height: 25px;
  width: 80%;
  color: red;
  font-size: 13px;
  white-space: nowrap;
  margin-top: -10px;
}
 
.continue{
  text-align: center;
}
.footnotelink, .link{
  font-size: 15px;
  font-weight: bold;
  border: none;
  background-color: #fff;
  color: #3a7fba;
  padding: 0;
  cursor: pointer;
}


/*sign up component*/

#signup-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.sign-up{
  display: block;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

#test{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 10px;
}

/* grid placements */

.label-name{
  grid-column: 1;
  grid-row: 1;
}

.input1{
  grid-column: 1;
  grid-row: 2;
}
#errname{
  grid-column: 1;
  grid-row: 3;
}

.label-user{
  grid-column: 2;
  grid-row: 1
}

.input2{
  grid-column: 2;
  grid-row: 2;
}

#erruser{
  grid-column: 2;
  grid-row: 3;
}

.label-email{
  grid-column: 1 / span 2;
  grid-row: 4;

}

.input3{
  grid-column: 1 / span 2;
  grid-row: 5;
}

#erremail{
  grid-column: 1 / span 2;
  grid-row: 6;
}

.label-pass{
  grid-column: 1 / span 2;
  grid-row: 7;

}

.input4{
  grid-column: 1 / span 2;
  grid-row: 8;
}

#errpassword{
  grid-column: 1 / span 2;
  grid-row: 9;
}

/*********/

.google-button{
  background-color: #fff;
  padding: 13px 20px;
  font-size: 15px;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px 10px #999;
  cursor: pointer;
}

.google-button .google-icon {
  width: 24px;  
  height: 18px; 
  margin-bottom: -3px;
  margin-right: 10px;
}

/* title */

#game{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2px;
  margin: 5px;
}

.box{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  width: 40px;
  border: 1px solid black;
  padding: 2px;
  color: #fff;
  background-color: #3a7fba;
  animation: flipIn 3s ease-in-out infinite;
  opacity: 0;
}

@keyframes flipIn {
  0% {
    transform: rotateY(90deg);
    background-color: #fff;
    color: #000;
    opacity: 0;
  }
  50% {
    transform: rotateY(-10deg);
    opacity: 1;
  }
  100% {
    transform: rotateY(0deg);
    opacity: 1;
  }
}

.box:nth-child(1) {
  animation-delay: 0s;
}

.box:nth-child(2) {
  animation-delay: 0.4s;
}

.box:nth-child(3) {
  animation-delay: 0.8s;
}

.box:nth-child(4) {
  animation-delay: 1.2s;
}

.box:nth-child(5) {
  animation-delay: 1.6s;
}

.box:nth-child(6) {
  animation-delay: 2s;
}